<nav id="mobile-nav">
  <% for (var i in theme.menu){ %>
    <a href="<%- theme.menu[i] %>" class="mobile-nav-link"><%= i %></a>
  <% } %>
    <a class="main-nav-link" href="http://blog.skyoung.org" title="About" target="_blank" rel="external">About</a>
</nav>
