.toc-title {
	font-size: 1.2em;
}
.toc-article {
	background: #eee;
	margin: 0 0 0 .5em;
	padding: 1em
}
 
.toc-article strong {
	padding: .3em 0
}
 
#toc {
	line-height: 1.1em;
	font-size: 0.9em;
	float: right
}
 
#toc .toc {
	padding: 0
}
 
#toc .toc li {
	list-style-type: none
}
 
#toc ol {
	margin-left: 0
}
 
#toc .toc-child {
	padding-left: 1.5em
}
 
#toc.toc-aside {
	display: none;
	width: 13%;
	position: fixed;
	right: 2%;
	top: 320px;
	overflow: hidden;
	line-height: 1.5em;
	font-size: 1em;
	color: #333;
	opacity: .6;
	-ms-filter: "alpha(opacity=60)";
	filter: alpha(opacity=60);
	-webkit-transition: opacity 1s ease-out;
	-moz-transition: opacity 1s ease-out;
	-o-transition: opacity 1s ease-out;
	-ms-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out
}
 
#toc.toc-aside strong {
	padding: .3em 0;
	color: #817c7c
}
 
#toc.toc-aside:hover {
	-webkit-transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
	-ms-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out;
	opacity: 1;
	-ms-filter: none;
	filter: none
}
 
#toc.toc-aside a {
	-webkit-transition: color 1s ease-out;
	-moz-transition: color 1s ease-out;
	-o-transition: color 1s ease-out;
	-ms-transition: color 1s ease-out;
	transition: color 1s ease-out
}
 
#toc.toc-aside a:hover {
	color: #ea6753;
	-webkit-transition: color .3s ease-out;
	-moz-transition: color .3s ease-out;
	-o-transition: color .3s ease-out;
	-ms-transition: color .3s ease-out;
	transition: color .3s ease-out
}
